
@import(https//fonts.googleapis.com/css?family=Roboto:400,300,700,500);

body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 9px;
   background: #F1EEE8;
}
            
/** MAP **/
#map {
   position: fixed;
   left: 0;
   top: 36px;
   right: 0;
   bottom: 0;
   background: #F1EEE8;
   
   cursor: move;
}